<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/706f2a4a-feea-47f5-a4f0-1a5b0fb214c9/resourceGroups/rg-paas/providers/Microsoft.ContainerRegistry/registries/acrlearn01</ResourceId>
    <ResourceName>acrlearn01</ResourceName>
    <ResourceGroup>rg-paas</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>acrlearn01.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>704a1666-5b3c-47d9-a008-51def1c47bd2</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>